In [147]:
"""
Work on the feature engineering
 --- 370 job descriptions
 --- making the education and bedroom variables ordinal
 --- 
"""

'\nWork on the feature engineering\n --- 370 job descriptions\n --- making the education and bedroom variables ordinal\n --- \n'

In [117]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LassoCV
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

import matplotlib.pyplot as plt
%matplotlib inline

In [69]:
train = pd.read_csv('/data/project2/train.csv')
test = pd.read_csv('/data/project2/test.csv')

In [56]:
train.head()

,Index,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle,Total Household Income,ones
0,22617,CAR,81940,Enterpreneurial Activities,1,44171,40336,9053,4499,5245,...,0,0,0,2,0,0,0,0,115835,1
1,21389,V - Bicol Region,26176,Other sources of Income,0,14477,13067,722,3707,755,...,0,0,0,0,0,0,0,0,44339,1
2,25275,III - Central Luzon,139920,Enterpreneurial Activities,0,31053,21720,12005,10415,1090,...,0,0,0,1,0,0,0,1,223010,1
3,25298,III - Central Luzon,108931,Wage/Salaries,0,41374,29008,12250,11840,1455,...,0,0,0,2,0,1,0,0,224252,1
4,7780,V - Bicol Region,61539,Other sources of Income,1,23758,19656,2496,12446,2448,...,0,0,0,1,0,0,0,1,125863,1

In [7]:
train.columns

Index(['Index', 'Region', 'Total Food Expenditure', 'Main Source of Income',
       'Agricultural Household indicator', 'Bread and Cereals Expenditure',
       'Total Rice Expenditure', 'Meat Expenditure',
       'Total Fish and  marine products Expenditure', 'Fruit Expenditure',
       'Vegetables Expenditure', 'Restaurant and hotels Expenditure',
       'Alcoholic Beverages Expenditure', 'Tobacco Expenditure',
       'Clothing, Footwear and Other Wear Expenditure',
       'Housing and water Expenditure', 'Imputed House Rental Value',
       'Medical Care Expenditure', 'Transportation Expenditure',
       'Communication Expenditure', 'Education Expenditure',
       'Miscellaneous Goods and Services Expenditure',
       'Special Occasions Expenditure', 'Crop Farming and Gardening expenses',
       'Total Income from Entrepreneurial Acitivites', 'Household Head Sex',
       'Household Head Age', 'Household Head Marital Status',
       'Household Head Highest Grade Completed',
       'Household Head Job or Business Indicator', 'Household Head Occupation',
       'Household Head Class of Worker', 'Type of Household',
       'Total Number of Family members',
       'Members with age less than 5 year old',
       'Members with age 5 - 17 years old',
       'Total number of family members employed', 'Type of Building/House',
       'Type of Roof', 'Type of Walls', 'House Floor Area', 'House Age',
       'Number of bedrooms', 'Tenure Status', 'Toilet Facilities',
       'Electricity', 'Main Source of Water Supply', 'Number of Television',
       'Number of CD/VCD/DVD', 'Number of Component/Stereo set',
       'Number of Refrigerator/Freezer', 'Number of Washing Machine',
       'Number of Airconditioner', 'Number of Car, Jeep, Van',
       'Number of Landline/wireless telephones', 'Number of Cellular phone',
       'Number of Personal Computer', 'Number of Stove with Oven/Gas Range',
       'Number of Motorized Banca', 'Number of Motorcycle/Tricycle',
       'Total Household Income'],
      dtype='object')

In [104]:
y_var = "Total Household Income"
x_vars_num = ['Total Food Expenditure','Bread and Cereals Expenditure','Total Rice Expenditure',
                  'Meat Expenditure','Total Fish and  marine products Expenditure','Fruit Expenditure',
                  'Vegetables Expenditure', 'Restaurant and hotels Expenditure',
                   'Alcoholic Beverages Expenditure', 'Tobacco Expenditure',
                   'Clothing, Footwear and Other Wear Expenditure',
                   'Housing and water Expenditure', 'Imputed House Rental Value',
                   'Medical Care Expenditure', 'Transportation Expenditure',
                   'Communication Expenditure', 'Education Expenditure',
                   'Miscellaneous Goods and Services Expenditure',
                   'Special Occasions Expenditure', 'Crop Farming and Gardening expenses',
                   'Total Income from Entrepreneurial Acitivites', 
                   'Household Head Age', 'Total Number of Family members',
                   'Members with age less than 5 year old',
                   'Members with age 5 - 17 years old',
                   'Total number of family members employed',
                   'House Floor Area', 'House Age',
                   'Number of bedrooms','Number of Television',
                   'Number of CD/VCD/DVD', 'Number of Component/Stereo set',
                   'Number of Refrigerator/Freezer', 'Number of Washing Machine',
                   'Number of Airconditioner', 'Number of Car, Jeep, Van',
                   'Number of Landline/wireless telephones', 'Number of Cellular phone',
                   'Number of Personal Computer', 'Number of Stove with Oven/Gas Range',
                   'Number of Motorized Banca', 'Number of Motorcycle/Tricycle']
x_vars_cat = ['Region', 'Main Source of Income',
               'Agricultural Household indicator', 'Household Head Sex',
               'Household Head Marital Status',
               'Household Head Highest Grade Completed',
               'Household Head Job or Business Indicator', 'Household Head Occupation',
               'Household Head Class of Worker', 'Type of Household',
               'Type of Building/House', 'Type of Roof', 'Type of Walls', 
               'Tenure Status', 'Toilet Facilities',
               'Electricity', 'Main Source of Water Supply']
x_vars_both = ['Region', 'Total Food Expenditure', 'Main Source of Income',
               'Agricultural Household indicator', 'Bread and Cereals Expenditure',
               'Total Rice Expenditure', 'Meat Expenditure',
               'Total Fish and  marine products Expenditure', 'Fruit Expenditure',
               'Vegetables Expenditure', 'Restaurant and hotels Expenditure',
               'Alcoholic Beverages Expenditure', 'Tobacco Expenditure',
               'Clothing, Footwear and Other Wear Expenditure',
               'Housing and water Expenditure', 'Imputed House Rental Value',
               'Medical Care Expenditure', 'Transportation Expenditure',
               'Communication Expenditure', 'Education Expenditure',
               'Miscellaneous Goods and Services Expenditure',
               'Special Occasions Expenditure', 'Crop Farming and Gardening expenses',
               'Total Income from Entrepreneurial Acitivites', 'Household Head Sex',
               'Household Head Age', 'Household Head Marital Status',
               'Household Head Highest Grade Completed',
               'Household Head Job or Business Indicator', 'Household Head Occupation',
               'Household Head Class of Worker', 'Type of Household',
               'Total Number of Family members',
               'Members with age less than 5 year old',
               'Members with age 5 - 17 years old',
               'Total number of family members employed', 'Type of Building/House',
               'Type of Roof', 'Type of Walls', 'House Floor Area', 'House Age',
               'Number of bedrooms', 'Tenure Status', 'Toilet Facilities',
               'Electricity', 'Main Source of Water Supply', 'Number of Television',
               'Number of CD/VCD/DVD', 'Number of Component/Stereo set',
               'Number of Refrigerator/Freezer', 'Number of Washing Machine',
               'Number of Airconditioner', 'Number of Car, Jeep, Van',
               'Number of Landline/wireless telephones', 'Number of Cellular phone',
               'Number of Personal Computer', 'Number of Stove with Oven/Gas Range',
               'Number of Motorized Banca', 'Number of Motorcycle/Tricycle']
x_vars_feat = []

In [72]:
### LASSO CV for picking the most effective columns for linear regression
def lassoChoose(y_col, x_cols):
    y = train[y_col]
    #x_cols.remove('review_len')
    #x_cols.remove('lexi')
    X = train[x_cols]
    
    #std_X = StandardScaler().fit_transform(X)
    #std_m = LassoCV(cv=10)
    regular_m = LassoCV(cv =10)

    return regular_m.fit(X, y)

In [66]:
model_fit = lassoChoose(y_var,x_vars_num)
#model_fit[y_var].predict(test[x_columns_to_model])

/opt/conda/lib/python3.5/site-packages/sklearn/linear_model/coordinate_descent.py:1082: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [67]:
model_fit.predict(train[x_vars_num])

array([ 135208.22942072,   48036.67803846,  339315.49647775, ...,
        151806.58417541,  267644.64013818,  458594.4045334 ])

In [105]:
def lm(y_var, x_vars, data):    
    """Fits linear regression to predict y_var from x_vars.
    
    Args:
      - y_var: A string represent the name of the column to use as the response variable.
      - x_vars: A list of strings representing the names of the columns to use as predictors.
      - data: A Pandas data frame.
      
    Returns:
      - A Pandas Series that stores the variable names and the associated coefficients.
    """
    ## create column of 1s and add to our data
    D = data[x_vars].copy()
    D["Intercept"] = 1
    #y = np.power(data[y_var],2)
    y = data[y_var]
    
    ## Method 2: 
    V = np.dot(D.T,D)
    W = np.dot(D.T,y)
    coefs = np.linalg.solve(V,W)
    return pd.Series(dict(zip(D.columns,coefs)))

In [77]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

model = LinearRegression()

def forward_stepwise(y_var,x_vars,data):
    y = data[y_var]
    vars_remaining = x_vars.copy()
    vars_in_model = []
    last_error = -np.inf
    
    for _ in range(len(vars_remaining)):
        scores = []
        for var in vars_remaining:
            candidate_vars = vars_in_model + [var]
            X = data[candidate_vars]
            scores.append(
                cross_val_score(model, X, y, cv=10, scoring="neg_mean_squared_error").mean()
            )
        i = np.argmax(scores)
        if scores[i] <= last_error:
            break
        else:
            last_error = scores[i]
            var_to_add = vars_remaining[i]
            vars_in_model.append(var_to_add)
            del vars_remaining[i]
    
    return (vars_in_model)

In [83]:
import copy
model = LinearRegression()

def backwards_stepwise(y_var,x_vars,data):
    y = data[y_var]

    vars_remaining = []
    vars_in_model = x_vars.copy()
    last_error = cross_val_score(model, data[vars_in_model], y, cv=10, scoring="neg_mean_squared_error").mean()
    for _ in range(len(vars_in_model)):
        scores = []
        for var in vars_in_model:
            candidate_vars = copy.copy(vars_in_model)
            candidate_vars.remove(var)
            X = data[candidate_vars]
            scores.append(
                cross_val_score(model, X, y, cv=10, scoring="neg_mean_squared_error").mean()
            )
        i = np.argmax(scores)
        if scores[i] <= last_error:
            break
        else:
            last_error = scores[i]
            del vars_in_model[i]
            
    return (vars_in_model)

## Prediction Equation

In [140]:
## Prediction equation
def predict(data,dictionary,column_name):
    data[column_name] = dictionary.get("Intercept")
    for key in dictionary.keys():
        if key != "Intercept":
            data[column_name] += dictionary.get(key) * data[key]

## Running Regression with Forwards Stepwise Variables (Numeric)

In [85]:
forwards_num = forward_stepwise(y_var,x_vars_num,train)

In [86]:
backwards_num = backwards_stepwise(y_var,x_vars_num,train)

In [141]:
model_num = lm(y_var,backwards_num,train)

In [138]:
forwards_num

['Communication Expenditure',
 'Total Income from Entrepreneurial Acitivites',
 'Miscellaneous Goods and Services Expenditure',
 'Housing and water Expenditure',
 'Total Food Expenditure',
 'Transportation Expenditure',
 'Medical Care Expenditure',
 'Total number of family members employed',
 'Special Occasions Expenditure',
 'Education Expenditure',
 'Clothing, Footwear and Other Wear Expenditure',
 'Number of Airconditioner',
 'Household Head Age',
 'Number of Personal Computer',
 'Imputed House Rental Value',
 'Total Number of Family members',
 'Number of Stove with Oven/Gas Range',
 'Number of bedrooms',
 'Members with age less than 5 year old',
 'Number of Car, Jeep, Van',
 'Number of Landline/wireless telephones',
 'Bread and Cereals Expenditure',
 'Vegetables Expenditure',
 'House Age']

In [139]:
backwards_num

['Total Food Expenditure',
 'Bread and Cereals Expenditure',
 'Vegetables Expenditure',
 'Clothing, Footwear and Other Wear Expenditure',
 'Housing and water Expenditure',
 'Imputed House Rental Value',
 'Medical Care Expenditure',
 'Transportation Expenditure',
 'Communication Expenditure',
 'Education Expenditure',
 'Miscellaneous Goods and Services Expenditure',
 'Special Occasions Expenditure',
 'Total Income from Entrepreneurial Acitivites',
 'Household Head Age',
 'Total Number of Family members',
 'Members with age less than 5 year old',
 'Total number of family members employed',
 'House Age',
 'Number of bedrooms',
 'Number of Airconditioner',
 'Number of Car, Jeep, Van',
 'Number of Landline/wireless telephones',
 'Number of Personal Computer',
 'Number of Stove with Oven/Gas Range']

In [142]:
## calculating the error of our models on the testing set
#train["average"] = np.mean(train[y_var])
predict(train,model_num,"pred_model_num")
np.std(train[y_var] - train["pred_model_num"])
#np.std(train[y_var] - train["average"])

124800.92769843177

In [146]:
train["pred_model_num","Total Household Income"]

KeyError: ('pred_model_num', 'Total Household Income')

In [137]:
model = LinearRegression()
model.fit(forwards_num,train[y_var])
train["pred_model_num"] = model.predict(train[forwards_num])

/opt/conda/lib/python3.5/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

ValueError: Found input variables with inconsistent numbers of samples: [1, 33235]

In [ ]:
### NOTES

"""
How to do the thing where all the variables are grouped together.
how to see the variables picked for the lasso

"""

# Feature Engineering

In [148]:
train.columns

Index(['Index', 'Region', 'Total Food Expenditure', 'Main Source of Income',
       'Agricultural Household indicator', 'Bread and Cereals Expenditure',
       'Total Rice Expenditure', 'Meat Expenditure',
       'Total Fish and  marine products Expenditure', 'Fruit Expenditure',
       'Vegetables Expenditure', 'Restaurant and hotels Expenditure',
       'Alcoholic Beverages Expenditure', 'Tobacco Expenditure',
       'Clothing, Footwear and Other Wear Expenditure',
       'Housing and water Expenditure', 'Imputed House Rental Value',
       'Medical Care Expenditure', 'Transportation Expenditure',
       'Communication Expenditure', 'Education Expenditure',
       'Miscellaneous Goods and Services Expenditure',
       'Special Occasions Expenditure', 'Crop Farming and Gardening expenses',
       'Total Income from Entrepreneurial Acitivites', 'Household Head Sex',
       'Household Head Age', 'Household Head Marital Status',
       'Household Head Highest Grade Completed',
       'Household Head Job or Business Indicator', 'Household Head Occupation',
       'Household Head Class of Worker', 'Type of Household',
       'Total Number of Family members',
       'Members with age less than 5 year old',
       'Members with age 5 - 17 years old',
       'Total number of family members employed', 'Type of Building/House',
       'Type of Roof', 'Type of Walls', 'House Floor Area', 'House Age',
       'Number of bedrooms', 'Tenure Status', 'Toilet Facilities',
       'Electricity', 'Main Source of Water Supply', 'Number of Television',
       'Number of CD/VCD/DVD', 'Number of Component/Stereo set',
       'Number of Refrigerator/Freezer', 'Number of Washing Machine',
       'Number of Airconditioner', 'Number of Car, Jeep, Van',
       'Number of Landline/wireless telephones', 'Number of Cellular phone',
       'Number of Personal Computer', 'Number of Stove with Oven/Gas Range',
       'Number of Motorized Banca', 'Number of Motorcycle/Tricycle',
       'Total Household Income', 'pred_model_num', 'average'],
      dtype='object')

In [351]:
train['Household Head Occupation']

0                                   Carpenters and joiners
1                      Inland and coastal waters fishermen
2        General managers/managing proprietors in trans...
3                                 Welders and flamecutters
4                                   Farmhands and laborers
5                                              Bus drivers
6                                                      NaN
7                         Home-based personal care workers
8                       Waiters, waitresses and bartenders
9                                             Corn farmers
10       Motor vehicle mechanics and related trades wor...
11                                            Rice farmers
12                                                     NaN
13                                 Street ambulant vendors
14       General managers/managing proprietors in agric...
15                                                     NaN
16                               Car, taxi and van drivers
17                                                     NaN
18                                            Rice farmers
19                          Building construction laborers
20                                                     NaN
21                                                     NaN
22       General managers/managing proprietors in whole...
23                                     Hog raising farmers
24                            Fishery laborers and helpers
25       General managers/managing proprietors in agric...
26                                                     NaN
27                                         Combat soldiers
28                           Heavy truck and lorry drivers
29                                                     NaN
                               ...
33205    General managers/managing proprietors in whole...
33206                  Shop salespersons and demonstrators
33207                                         Corn farmers
33208                                                  NaN
33209                                                  NaN
33210                  Inland and coastal waters fishermen
33211                               Carpenters and joiners
33212             Traditional chiefs and heads of villages
33213                                                  NaN
33214    General managers/managing proprietors in perso...
33215                  Inland and coastal waters fishermen
33216                                         Corn farmers
33217                               Farmhands and laborers
33218     Butchers, fishmongers and related food preparers
33219                       Building construction laborers
33220                                                  NaN
33221    General managers/managing proprietors in trans...
33222    General managers/managing proprietors in trans...
33223                                         Corn farmers
33224             Traditional chiefs and heads of villages
33225    General managers/managing proprietors in manuf...
33226    General managers/managing proprietors in whole...
33227                                                  NaN
33228                        Heavy truck and lorry drivers
33229    General managers/managing proprietors in whole...
33230             Traditional chiefs and heads of villages
33231    General managers/managing proprietors in whole...
33232    General managers/managing proprietors in trans...
33233    General managers/managing proprietors in whole...
33234    General managers/managing proprietors of resta...
Name: Household Head Occupation, dtype: object

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [284]:
import re, math
from collections import Counter

WORD = re.compile(r'\w+')

def get_cosine(vec1, vec2):
    intersection = set(vec1.keys()) & set(vec2.keys())
    numerator = sum([vec1[x] * vec2[x] for x in intersection])

    sum1 = sum([vec1[x]**2 for x in vec1.keys()])
    sum2 = sum([vec2[x]**2 for x in vec2.keys()])
    denominator = math.sqrt(sum1) * math.sqrt(sum2)

    if not denominator:
        return 0.0
    else:
        return float(numerator) / denominator

def text_to_vector(text):
    words = WORD.findall(text)
    return Counter(words)

In [285]:
def cosine_sim(u,v):
    return np.array(np.dot(u,v.T) / (np.sqrt(np.dot(u,u.T)) * np.sqrt(np.dot(v,v.T)))).item(0,0)

In [312]:
jobs = np.unique(list(train['Household Head Occupation']))
from nltk.corpus import stopwords
# ...
newJobs = np.array([])
for job in jobs:
    temp = job.split(' ')
    temp = [word.lower() for word in temp if word.lower() not in stopwords.words('english')]
    newJobs = np.append(newJobs," ".join(temp))

In [313]:
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize

ps = PorterStemmer()
newJobs2 = np.array([])
for job in newJobs:
    temp = job.split(' ')
    temp = [ps.stem(word) for word in temp]
    newJobs2 = np.append(newJobs2," ".join(temp))

In [317]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer()
tfidf_matrix=tfidf_vectorizer.fit_transform(newJobs2)

In [318]:
cos_sims = np.array([])
for i in range(np.size(newJobs2)):
    for j in range(np.size(newJobs2)):
        cos_sims = np.append(cos_sims,cosine_sim(tfidf_matrix[i],tfidf_matrix[j]))
cos_sims = np.reshape(cos_sims,(370,370))

In [321]:
from sklearn.cluster import SpectralClustering
mat = np.matrix(cos_sims)
groups = SpectralClustering(15).fit_predict(mat)

/opt/conda/lib/python3.5/site-packages/sklearn/cluster/spectral.py:433: UserWarning: The spectral clustering API has changed. ``fit``now constructs an affinity matrix from data. To use a custom affinity matrix, set ``affinity=precomputed``.
  warnings.warn("The spectral clustering API has changed. ``fit``"

In [381]:
groups[5]

14

In [384]:
#train['Household Head Occupation'] = 
#np.where(jobs == train['Household Head Occupation'])


jobIndexes = np.concatenate([np.where(jobs == job)[0] for job in train["Household Head Occupation"]])
jobCategory = np.array([groups[num] for num in jobIndexes])

/opt/conda/lib/python3.5/site-packages/ipykernel_launcher.py:5: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  """

In [387]:
jobCategory

array([ 0,  0, 12, ..., 12, 12, 12], dtype=int32)